*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url(img/pessoas.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50%;
}
.container_botao{
    background-color: blue;
    border-radius: 8%;
    padding: 10px;
    color: white;
    display: block;
    text-decoration: none;
}

body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 100;
}
.botao_segundario{
    background-color: transparent;
    border: 2px solid white;
}
.container_aviso{
    font-size: 15px;
}

.container_imagem{
    margin: 16px 0px 16px 0px;
}
.container_caixa{
    margin: 0px 0px 10px 18px;
}


.desenho_combo{
    margin: 5%;
}

.container_botao{
    margin: 5%;
}
